.container_item {
    width: 100%;
    margin: 1vh 0;
    justify-content: center;
    display: flex;
}

.container_item>h2 {
    font-weight: bold;
    font-size: 2rem;
    color: --var(black);
}

.site-layout-content {
    min-height: 280px;
    padding: 0 24px;
    justify-content: center;
    display: flex;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.informações{
    color: #75B47B !important;
    font-weight: bold;
}